#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  background: transparent;
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  /* background-color: #fb8d62; */
  background-color: #56933a;
  border-radius: 30px;
}
