@import url("./lightBlueTheme.css");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.avatarImage {
  border-radius: 50%;
}